*{
    margin: 0;
    padding: 0;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    top: 50%;
    left: 50%;
}

.plate1 {
    position: absolute;
    width: 10px;
    height: 200px;
    background: black;
    top: 50%;
}

.plate2 {
    position: absolute;
    width: 10px;
    height: 200px;
    background: black;
    right: 0;
    top: 50%;
}